<div class="jumbotron">
	<div class="text-center">
		<h1>About Jumbo</h1>
		<p>Jumbo is an application which allows you to rate restaurants food, sell items, post & view job vacancies and even post delivery jobs.</p>
	</div>
</div>