<div class="jumbotron">
	<div class="text-center">
		<h1>About Williams</h1>
		<p>My name is Kurtis Williams and i'm currently learning how to code, within the next 5 months i will be revising relogiously in order for me to become an amazing coder.</p>
	</div>
</div>