<div class="jumbotron">
	<h1>Contact Us</h1>
	<p><%= link_to "Email: KurtisDWilliams@gmail.com", "http://kurtisdwilliams@gmail.com", class: "btn btn-primary btn-lg" %></p>
	<p><%= link_to "Twitter: @KurtisDWilliams", "#", class: "btn btn-primary btn-lg" %></p> 
	<p><%= link_to "LinkedIn: Kurtis Williams", "#", class: "btn btn-primary btn-lg" %></p>
<p><%= link_to "Facebook: Kurtis Williams", "#", class: "btn btn-primary btn-lg" %></p>