<div class="jumbotron">
	<div class="text-center">
		<h1>Contact Us</h1>
		
		<p><%= link_to "Twitter", "https://twitter.com/jumboapp", class: "btn btn-primary btn-lg" %></p>
		<p><%= link_to "Facebook", "https://www.facebook.com/pages/Jumbo-App/660897557357525?ref=hl", class: "btn btn-primary btn-lg" %></p>
	</div>
</div>