<div class="jumbotron">
	<div class="text-center">
		<h1>Welcome to my first App!</h1>
		<%= link_to "Log In", "#", class: "btn btn-primary btn-lg" %>
		<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
	</div>	
</div>